.orderPosition {
    width: 100%;
}

.labels {
    margin-bottom: 20px;
}

.orderPosition .title {
    width: 35%;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.orderPosition .author {
    width: 35%;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.orderPosition .price {
    width: 7%;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.orderPosition .quantity {
    width: 7%;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.orderPosition .sum {
    width: 7%;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
}